.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

header {
  background: linear-gradient(88deg, #574AE8 0%, #3EA1DB 100%);
  padding: 2.5rem 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

nav a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

input {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.125rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 3.5rem;
  background: url('../img/search-icon.svg') no-repeat scroll 10px 15px, rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}