.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

body, html {
  background: #F3F5F7;
}

header {
  background: linear-gradient(88deg, #574AE8 0%, #3EA1DB 100%);
  padding: 2.5rem 0;
  margin-bottom: 6.25rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4.5rem;
}

header nav a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

header form input {
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.125rem;
  padding: 1.25rem 1rem 1.25rem 3.5rem;
  background: url('../img/search-icon.svg') no-repeat scroll 10px 15px, rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

header form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

section .post {
  border-radius: 0.5rem;
  background: #FFF;
  box-shadow: 0px 0px 10px 0px rgba(19, 19, 31, 0.05);
  padding: 1.5rem;
  margin-bottom: 3rem;
}

section .post .align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

section span {
  color: #717171;
  font-size: 1rem;
}

section h2 {
  color: #1A202C;
  font-size: 1.625rem
  margin-bottom: .5rem;
}

section p {
  color: #717171;
  font-size: 1.125rem;
  line-height: 2rem;
}

section .icon {
  fill: #574ae801;
  stroke: #574ae8;
  stroke-width: 7;
  transition: fill 0.3s;
  cursor: pointer;
}

section .icon.filled,
section .icon:hover {
  fill: #574ae8;
}